

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, navbar {
    display: block;
}

/*Navbar*/

.navbar {
    background-color: #1f5cb7;
    margin-bottom: 30px;
    position: fixed;
    width: 100%

}

.bg-light {
	/*Navbar's background color*/
    background-color: #398be4!important; 
}


/**/

.container {
    width: 98em;
    margin: 0 auto;

}

#page_content{
	padding-top: 8px;
	padding-bottom: 8px;
}

/*#filter{
	position: fixed;
}

#list{
	position: fixed;
}

.row{
	position: relative;
}*/