

/*Navbar*/

.navbar {
    background-color: #1f5cb7;
    margin-bottom: 30px;
    position: fixed;
    width: 100%

}

.bg-light {
	/*Navbar's background color*/
    background-color: #398be4!important; 
}


/**/

.container {
    width: 98em;
    margin: 0 auto;

}

/*To enable scroll bar withou including the header*/
#content
{
    position:absolute;
    top: 56px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:auto;        
}​

#table_header{
	position: fixed;
}

#table_content{
	/*overflow-y:scroll;*/
}

#filters_title{
	padding-top: 30px;
}