

/*Navbar*/

.navbar {
    background-color: #1f5cb7;
    margin-bottom: 30px;
    position: fixed;
    width: 100%

}

.bg-light {
	/*Navbar's background color*/
    background-color: #398be4!important; 
}


/**/

.container {
    margin: 0 auto;
    max-width: 100%;
}

/*To enable scroll bar without including the header*/
#content
{
    position:absolute;
    top: 56px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:auto;        
}​


/*Table*/
.table {
    width: 70em;
    max-width: 75%;
}


/*#table_header{
	position: fixed;
}*/

#filters_title{
	padding-top: 30px;
}

/*Filter*/

.filter_date {
    /*position: fixed;*/
    /*padding-left: 80px;*/
}

/*.table_header_footer{
    position: fixed;
}*/