# Edit this file to introduce tasks to be run by cron.
# 
#sudo crontab -e


# m h  dom mon dow   command

# Repeat everydat at midnight
0 0 * * * /home/pi/Documents/capturing_packets.sh

# Reboot raspberry pi 3 every Saturday at midnight
0 0 * * 6 sudo reboot 


